* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

header {
  background-color: #e9d4ad;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.dropdown-button {
  display: none;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 2.5rem;
  transform-origin: left;
  transition: all 0.5s;
  cursor: pointer;
}

.bar {
  height: 5px;
  background: black;
  border-radius: 5px;
  margin: 3px 0px;
}

.hidden-dropdown {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(30%);
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 6px 4px -4px rgba(190, 190, 190, 0.4);
}
.hidden-dropdown > div {
  background-color: #fefefe;
  padding: 10px;
}
.hidden-dropdown a {
  color: #9b9b9b;
}

.show {
  transform: translateY(100%);
  visibility: visible;
  opacity: 1;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.header-right img {
  max-width: 25px;
}

.header-a {
  text-decoration: none;
  color: black;
  transition: opacity 100ms;
  font-size: 1.3em;
}
.header-a:hover {
  opacity: 0.3;
}

main {
  background-color: #fefefe;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}
main > div {
  flex: 1;
}

.hero-img-wrap {
  position: relative;
}

.people-img {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  display: block;
}

.kettle-img {
  position: absolute;
  bottom: 0;
  left: -20%;
}

.hero-text-h {
  padding-bottom: 40px;
  max-width: 200px;
  font-size: 2.1rem;
}

.hero-smaller-h {
  padding-bottom: 25px;
  font-size: 1.8rem;
}

.hero-text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text-inner-wrap {
  padding: 50px 100px 0 50px;
}
.hero-text-inner-wrap > p {
  padding-bottom: 25px;
  font-size: 1.3rem;
  line-height: 1.5;
}

.hero-times {
  padding-bottom: 15px;
  font-size: 1.3rem;
}

.chain {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

.ig-section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.ig-h {
  text-align: center;
  padding-bottom: 40px;
  font-size: 3em;
}

.ig-img-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 800px) {
  .ig-img-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.ig-img-wrap > img {
  width: 100%;
}

.adress-section {
  max-width: 1140px;
  padding: 0 20px 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.adress-section > a {
  text-align: center;
}

.adress-top {
  padding: 50px 0;
}

.adress-map-wrap {
  width: 100%;
  height: 450px;
  padding-bottom: 10px;
}

iframe {
  width: 100%;
  height: 100%;
}

.mail-section {
  max-width: 1140px;
  padding: 0 20px 60px 20px;
  margin: 0 auto;
}

.mail-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.mail-form > * {
  flex: 1;
}

.mail-text {
  font-size: 2.3em;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-wrap > input {
  padding: 10px 20px;
  border: solid 1px #f2f2f2;
  font-size: 1.1em;
}
.input-wrap > input:focus {
  outline: none;
}

.input-submit {
  padding: 15px 30px;
  border: none;
  background-color: #e9d4ad;
  color: #fefefe;
  font-size: 1em;
  margin-bottom: -20px;
}

footer {
  background-color: #d2574c;
  padding: 60px 20px 100px 20px;
  color: #f2f2f2;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  max-width: 900px;
}
.footer-wrap img {
  max-width: 20px;
  color: #f2f2f2;
  filter: grayscale(100%) invert(100%);
}
.footer-wrap > div {
  padding: 0 20px;
  flex: 1;
}
.footer-wrap p {
  font-weight: 300;
}

.left-top {
  padding-bottom: 30px;
}

.footer-num {
  padding: 20px 0;
  color: #fefefe;
}

.footer-section-mid {
  border-left: solid 1px #fefefe;
  border-right: solid 1px #fefefe;
}

.footer-opening {
  padding: 20px 0;
}

.hero-a,
.map-a {
  color: #9b9b9b;
}

@media only screen and (max-width: 840px) {
  .header-button-list {
    display: block;
  }
  .header-right a {
    display: none;
  }
  .dropdown-button {
    display: block;
  }
  main {
    flex-direction: column;
  }
  .hero-text-inner-wrap {
    padding: 50px 20px 0 20px;
  }
  .ig-img-container {
    display: none;
  }
  .mail-form {
    flex-direction: column;
    align-items: normal;
  }
  .footer-wrap {
    flex-direction: column;
  }
  .footer-wrap > div {
    border: none;
    padding: 0;
  }
  .footer-section-right {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */