$sodo-red: #d2574c;
$sodo-cream: #e9d4ad;
$sodo-white: #fefefe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

header {
  background-color: $sodo-cream;
  padding: 15px 40px;
  position: sticky;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  & img {
    max-width: 20px;
  }
}

.header-a {
  text-decoration: none;
  color: black;
  transition: opacity 100ms;
  &:hover {
    opacity: 0.3;
  }
}

main {
  background-color: #fefefe;
  display: flex;
  & > div {
    flex: 1;
  }
  max-width: 1140px;
  margin: 0 auto;
}

.hero-img-wrap {
  & > img {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    display: block;
  }
}

.hero-text-h {
  padding-bottom: 40px;
  max-width: 200px;
  font-size: 2.1rem;
}

.hero-smaller-h {
  padding-bottom: 25px;
  font-size: 1.8rem;
}

.hero-text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text-inner-wrap {
  // padding: 50px 50px 30px 70px;
  padding: 50px 100px 0 50px;
  & > p {
    padding-bottom: 25px;
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

.hero-times {
  padding-bottom: 15px;
  font-size: 1.3rem;
}

.chain {
  display: block;
  margin: 0 auto;
  max-width: 1140px;
}

.ig-section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.ig-h {
  text-align: center;
  padding-bottom: 40px;
  font-size: 3em;
}

.ig-img-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 800px) {
  .ig-img-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ig-img-wrap {
  & > img {
    width: 100%;
  }
}

.adress-section {
  max-width: 1140px;
  padding: 0 20px 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  & > a {
    text-align: center;
  }
}

.adress-top {
  padding: 50px 0;
}

.adress-map-wrap {
  width: 100%;
  height: 450px;
}

iframe {
  width: 100%;
  height: 100%;
}
